.slide-content{
    margin: 0 40px;
}

.card{
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}

.card-content{
    
    display: flex;
    padding: 10px 14px;
}

.imgfigure1{

}